* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  padding-top: 60px;
}
a {
  list-style: none;
  text-decoration: none;
  color: unset;
}
:root {
  --blue: rgb(86, 86, 220);
}
.linktag {
  text-decoration: none;
  color: unset;
}
